body {
    background-color: rgba(112, 121, 188, 0.23);
    overflow-y: scroll;
    overflow-x: hidden;
  }

  #beaver {
    position: absolute;
    top:33px;
    left:25px;
    height: 70px;
    border-radius: 50%;
  }

  .begin{
    align-items: center;
    text-align: center;
  }

  #intro {
    color: #614168;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  #welcome {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    left:60%;
    color: #01447e;
  }

  #photo {
    width:200px;
  }
  
  #banner {
      overflow-x: hidden;
      object-fit: cover;
      width: 100%;
      height: 110px;
  }
  
  ul.breadcrumb {
    position: relative;
    left:15px;
      padding: 12px 16px;
      /* list-style: none; */
      background-color: #efc8c8;
      border-radius: 25px;
      width:fit-content;
  }
    
    /* Display list items side by side */
    ul.breadcrumb li {
      display: inline;
      font-size: 24px;
    }
    
    /* Add a slash symbol (/) before/behind each list item */
    ul.breadcrumb li+li:before {
      padding: 12px;
      color: black;
      content: "/\00a0";
    }
    
    /* Add a color to all links inside the list */
    ul.breadcrumb li a {
      color: #052f54;
      text-decoration: none;
    }
    
    /* Add a color on mouse-over */
    ul.breadcrumb a:hover  {
      color: #01447e;
      text-decoration: underline;
      padding: 5px;
      border-radius: 12px;
      background-color: bisque;
      box-shadow: 3px 3px 6px rgb(129, 231, 148);
    }

    #thoughts {
      position: relative;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-size: 30px;
      left:20px;
      color: #0b8a1e;
    }

    .text {
      position: relative;
      left:7px;
      font-size: 23px;
      font-family: "Comic Sans MS", "Comic Sans", cursive;
      color: rgb(215, 43, 17);
    }

    .socials {
      width:max-content;
      margin-left: auto ;
      margin-right: auto ;
    }

    #medium {
      background-color: rgb(240, 202, 153);
      object-fit: cover;
      /* position: absolute;
      left: 32.5%;
      top: 198px; */
      width: 125px;
      height: auto;
      border-style:ridge;
      border-color:black;
      border-radius: 5px;
      border-width: 3px;
      transition: opacity 0.15s, background-color 0.3s, box-shadow 0.15s;
    }
    
    #medium:hover {
      opacity:0.7;
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    }
    
    #medium:active{
      opacity: 0.5;
      background-color: rgb(250, 222, 9);
    }
    
    
    #linkedin {
      background-color: aliceblue;
      object-fit: cover;
      /* position: absolute;
      left: 36%;
      top: 193px; */
      width: 30px;
      height: auto;
      border-style:ridge  ;
      border-color:black;
      border-radius: 5px;
      transition: opacity 0.15s, background-color 0.3s, box-shadow 0.15s;
    }
    
    #linkedin:hover{
      opacity:0.7;
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
    }
    
    #linkedin:active{
      opacity: 0.5;
      background-color: rgb(0, 0, 0);
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
    }
    
    #github {
      background-color: aliceblue;
      /position: absolute;
      left: 39%;
      top: 193px;
      width: auto;
      height: 30px;
      border-style:ridge;
      border-color: black;
      border-radius: 5px;
      transition: opacity 0.15s, background-color 0.3s, box-shadow 0.15s;
    }
    
    #github:hover {
      opacity:0.7;
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    }
    
    #github:active{
      opacity: 0.5;
      background-color: rgb(242, 255, 0);
    }

    .blog {
      text-align: center;
    }
  
  .blogs-container {
    /* blog section */
      position: relative;
      margin-left: auto ;
      margin-right: auto ;
      width: 90%;
      overflow-y: scroll;
      overflow-x: hidden;
  }
  
  .blog-entry1 {
      /* One blog */
      position: relative;
      /* left:4px; */
      padding: 35px; 
      /* length of timeline line */
      border-left: 5px solid #3b9446; /* Timeline line */
      border-radius: 20px;
      margin-bottom: 60px;
      /* space to next time-line item */
    /* background-color: rgb(168, 180, 92); */
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/5/51/Sunrise_thailand_ko_samui.jpg');
    background-size: cover;
  }

  .blog-entry2 {
    /* One blog */
    position: relative;
    /* left:4px; */
    padding: 35px; 
    /* length of timeline line */
    border-left: 5px solid #3b9446; /* Timeline line */
    border-radius: 20px;
    margin-bottom: 60px;
    /* space to next time-line item */
  /* background-color: rgb(168, 180, 92); */
  background-image: url('https://wallpapers.com/images/hd/relaxing-desktop-1920-x-1200-background-xxwknihbn4hi1l0v.jpg');
  background-size: cover;
}

.blog-entry3 {
  /* One blog */
  position: relative;
  /* left:4px; */
  padding: 35px; 
  /* length of timeline line */
  border-left: 5px solid #3b9446; /* Timeline line */
  border-radius: 20px;
  margin-bottom: 60px;
  /* space to next time-line item */
/* background-color: rgb(168, 180, 92); */
background-image: url('https://png.pngtree.com/background/20230602/original/pngtree-travel-and-tour-bullet-train-in-mountains-river-nature-background-picture-image_2859570.jpg');
background-size: cover;
}

.blog-entry4 {
  /* One blog */
  position: relative;
  /* left:4px; */
  padding: 35px; 
  /* length of timeline line */
  border-left: 5px solid #3b9446; /* Timeline line */
  border-radius: 20px;
  margin-bottom: 60px;
  /* space to next time-line item */
/* background-color: rgb(168, 180, 92); */
background-image: url('https://img.cdn-pictorem.com/uploads/collection/G/GT7HDK2MOE/900_360-Studios_Spectacular_Skies_over_Koolina_Hawaii_at_Sunset.jpg');
background-size: cover;
}
  
  .blog-container {
    /* title, date, and text */
    display: flex;
    align-items: flex-start;
  }
  
  .blog-header {
    /* title and date */
      /* flex: 1; */
      text-align: center;
      align-self: center;
      /* align in centre of container*/
  }
  
  .blog-title {
    color: #000000;
    width:250px;
      margin: 0;
      font-size: 40px;
      font-weight: bold;
      flex-shrink: 0;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .blog-date {
    padding-top: 0px;
      /* margin: 10px; */
      font-size: 24px;
      color: rgb(255, 255, 255);
      flex-shrink: 0;
  }
  
  .blog-content1 {
      background-color: rgba(217, 255, 0, 0.05);
      /*nice fade */
      padding-left: 20px;
      padding-right: 20px;
      margin-left: 40px;
      font-size: 18px;
      line-height: 30px;
      font-family:Verdana, Geneva, Tahoma, sans-serif;
      border-radius: 25px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  }

  .blog-content2 {
    background-color: rgba(255, 248, 114, 0.4);
    color: rgb(0, 0, 0);
    /*nice fade */
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 40px;
    font-size: 18px;
    line-height: 30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

.blog-content3 {
  background-color: rgba(239, 205, 104, 0.4);
  color: rgb(0, 0, 0);
  /*nice fade */
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 40px;
  font-size: 18px;
  line-height: 30px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

.blog-content4 {
  background-color: rgba(233, 110, 227, 0.4);
  color: rgb(0, 0, 0);
  /*nice fade */
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 40px;
  font-size: 18px;
  line-height: 30px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

#link {
  color: rgb(84, 5, 174);
}